<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramesh Health Point</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image" href="../static/images/Logo.png">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img class="logoimage" src="../static/images/dumbbell.png">
        </div>
        <ul>
            <li class="option"><a href="/">HOME</a></li>
            <li class="option"><a href="/enroll">ENROLL NOW</a></li>
            <li class="option"><a href="/about">ABOUT US</a></li>
            <li class="option"><a href="#foot">CONTACT US</a></li>
        </ul>
    </nav>
    <div class="intro">
        <img class="intropic" src="../static/images/intro1.jpg">
        <div class="text1">
            <h1>Tough Time don't Last, But Tough People Do...</h1>
        </div>
        <div class="text2">
            <p>Join the best Gym in your locality</p>
            <a href="/enroll">Join Now</a>
        </div>
    </div>
    <div class="frontpoints"> 
        <div class="points">
            <img src="../static/images/intropic1.jpeg">
            <h3>Personal Trianer</h3>
        </div>
        <div class="points">
            <img src="../static/images/intropic2.png">
            <h3>Strict diet plan</h3>
        </div>
        <div class="points">
            <img src="../static/images/intropic3.png">
            <h3>Latest Equipments</h3>
        </div>
        <div class="points">
        <img src="../static/images/intropic4.png">
            <h3>Good Environment</h3>
        </div>
    </div>
    <div class="planhead">
    <h1>Plans and Services</h1>
    </div>
    <div class="plan">
        <div>
        <h3 class="planhead1">Plans</h3>
        <div class="gymplan">
            <div>
            </div>
            <div>
                <h3>Basic</h3>
            </div>
            <div>
                <h3>Pro</h3>
            </div>
            <div>
                <h3>Monthly</h3>
            </div>
            <div>
                <h3>₹1000</h3>
            </div>
            <div>
                <h3>₹1500</h3>
            </div>
            <div>
                <h3>3 Monthly</h3>
            </div>
            <div> 
                <h3>₹2500</h3>
            </div>
            <div>
                <h3>₹3800</h3>
            </div>
             <div>
                <h3>Yearly</h3>
            </div>
            <div> 
                <h3>₹10000</h3>
            </div>
            <div>
                <h3>₹14000</h3>
            </div>
        </div>
        </div>
        <div>
        <h3 class="planhead1">Personal Trainer</h3>
        <div class="gymplan">
        <ul>
            <li><h3>Well Educated</h3></li>
            <li><h3>Highly Experienced</h3></li>
            <li><h3>Strict and Motivational</h3></li>
        </ul>
        <h2 class="charges">Charges : Your Plan + 1000(Monthly)</h2>
        </div>
        </div>
    </div>
    <div id="foot">
        <div class="Logo">
            <h1>Ramesh Fitness Point </h1>
        </div>
        <div class="footcontact">
            <div class="gmail">
                <h3 class="mailus">Mail Us</h3>
                <form method="post" class="formgmail" name="myform">
                <div class="formdiv">
                <label for="name1">
                    <h4 class="heading">Name : </h4>
                </label>
                <input class="formval" id="name1" type="text" name='name' placeholder="Enter Your Name" required>
                </div>
                <div class="formdiv">
                <label for="gmail">
                    <h4 class="heading">G-mail : </h4>
                </label>
                <input class="formval" id="gmail" type="text" name='gmail' placeholder="Enter Your G-Mail" required>
                </div>
                <div class="formdiv">
                <label for="contact">
                    <h4 class="heading">Contact No : </h4>
                </label>
                <input class="formval" id="contact" type="number" name='contact' placeholder="Enter Your Contact">
                </div>
                <div class="formdiv">
                <label for="message">
                    <h4 class="heading">Message : </h4>
                </label>
                <input class="formval" id="message" type="text" name='message' placeholder="Drop your message...." required>
                </div>
                <button id="btn" type="submit">Send</button>
                </form>
            </div>
            <div class="follow">
                <div class="followus">
                    <h3>Follow Us</h3>
                </div>
                    <div class="images">
                        <img class="followpoint" src="../static/images/facebook.png">
                        <img class="followpoint" src="../static/images/instagram.png">
                        <img class="followpoint" src="../static/images/twitterlogo.jpeg">
                    </div>
            </div>
        <div class="callus">
        <div class="followus">
        <h3>Contact Us</h3>
        </div>
        <div class="contact">
        <img class="followpoint1" src="../static/images/phone-call.png">
        <h2>94367839746</h2>
        </div>
        <div class="contact">
        <img class="followpoint1" src="../static/images/whatsapp.png">
        <h2>87374682982</h2>
        </div>
        </div>
        </div>
    </div>
    
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="../static/home.js"></script>
</body>

</html>