@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@700&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:rgb(119, 61, 61);
    height:4%;
    border: 2px solid black;
    display: flex;
    padding:0% 2%;

}

.logoimage{
    height: 50px;
    width: 63px;
}
nav ul{
    display:inline-flex;
    justify-content: center;
    margin:1% 19%;
    list-style: none;
    width: 50%;
}
nav li{
    margin:0% 2%;
    padding: 1% 2%;
    text-align:justify; 
}
nav li a{
    text-decoration: none;
    color: rgb(241, 239, 235);
}
nav a::after{
    content:"";
    display:block;
    background-color:rgb(241, 239, 235);
    height:12%;
    width:0%;
    position: relative;
    top:40%;
    transition: all ease-in-out 300ms;
}
nav a:hover::after{
    width:100%;
}
#gympic{
    height:800px;
    width: 100%;
}
.intro{
    background-color: white;
    margin:2% 10%;
    border:2px solid black;
    border-radius: 6px;
    position: relative;
    top:-300px;
}

#points{
    display: inline-flex;
    width: 100%;
    margin:1% 1%;
}
.value{
    border: 2px solid black;
    border-radius: 15px;
    padding:1% 10%;
    margin: 0% 1%;

}
.value:hover{
    background: rgb(119, 61, 61)!important;
    color:white!important;
}
#description{
    padding:2% 4%;
    display: inline-flex;
}

#myimage{
    height:auto;
    width: 20%;
    margin:0% 3%;
}
#optiondes{
    margin:0% 1%;
    padding: 0% 0%;
    font-family: 'Roboto Slab', serif;

}
#one{
    background-color: rgb(145, 97, 97);
}
#optionpic{
    display: flex;
}
.arrow{
    background-color: rgba(247, 240, 240, 0.959);
    position: absolute;
    border: 2px solid black;
    text-align: center;
    font-size: large;
    top:45%;
   font-size: 25px;
   font-weight: bold;
    padding:10px 20px;
    margin:15px;
    cursor: pointer;
    border-radius: 50%;
}
.next{
    right:10px;
}
.slide{
    display: none;
}
#foot{
    position: absolute;
    top:140%;
    background-color:rgb(119, 61, 61);
    color:white;
    padding: 1% 0%;
    border:2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Logo{
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
.Logo::after{
    display: block;
    content:"";
    background-color: white;
    width: 100%;
    height: 2px;
    
}
.footcontact{
    display: flex;
}
.followpoint{
    height: auto;
    width: 18%;
}
.followpoint1{
    height: auto;
    width: 14%;
    padding: 0% 6%;
}
.gmail{
    margin: 2%;
    padding:2% 5%;
    height: auto;
    width: 20%;
}
.formgmail{
    
    background-color: #fff;
    border: 2px solid black;
}
.formval{
    margin:5% auto;
    
    padding: 2% 4%;

}
.followus{
    color:white;
    font-size: 1.2rem;
    text-align: center;
}
.follow{
    padding:2%;
    width: 20%;
}
.images{
    margin:0% 20%;
}

.followpoint{
    display: inline;
    padding:6%;
    padding-top: 20%;
   
}

.contact{
    display: flex;
    margin: 3% 25%;
    padding: 2% 0%;
}
.callus{
    width: 30%;
    margin:2%;
}
#btn{
    display: block;
    margin:2% auto;
    padding: 3% 2%;
}
.heading{
    color:black;
    display: inline;
}
.formdiv{
    margin:0% 4%;
}
.mailus{
    color:white;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    top:-9%;
}
.images img:hover{
    animation:animation1 1s,wiggle 2s;
    animation-fill-mode: forwards;
}
@keyframes animation1 {
    from{
        width: 19%;
        
    }
    to{
        width: 23%;
    }
}
@keyframes animation2{
    from{
        width: 50%;
        
    }
    to{
        width: 65%;
    }
}
@keyframes wiggle {
    0%,7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}
  
.contact:hover{
    animation-name: animation2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}